<app-sidebar-side></app-sidebar-side>
<app-sidenav></app-sidenav>
<app-header-side></app-header-side>
<div class="search-bar-container">
  <mat-form-field appearance="fill">
    <mat-icon>youtube_searched_for</mat-icon>
    <input matInput #searchInput type="text" placeholder="">
  </mat-form-field>
</div>
<div class="container"> 
  
  
    <div class="row">
        <div class="col-md-12">
            <h2>Manage Data Rooms</h2>
                    <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" (change)="selectAll($event)">
                            Select All
                        </th>
                        <th>NAME</th>
                        <th>OWNER</th>
                        <th>VIEWS</th>
                        <th>DATE</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataRoom of dataRooms; let i = index">
                        <td>
                            <input type="checkbox" [(ngModel)]="dataRoom.selected">
                        </td>
                        <td>{{ dataRoom.name }}</td>
                        <td>{{ dataRoom.owner }}</td>
                       
                        <!-- <td>
                            <ul>
                                <li *ngFor="let owner of dataRoom.owners">{{ owner }}</li>
                            </ul> 
                        </td> -->
                        
                        <td>{{ dataRoom.views }}</td>
                        <td>{{ dataRoom.date }}</td>
                        <td>{{  dataRoom.status  }}</td>

                        <td>
                          <button mat-icon-button [matMenuTriggerFor]="dataRoomMenu">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                          <mat-menu #dataRoomMenu>
                            <ng-template matMenuContent>
                              <li *ngIf="dataRoom.status === 'draft'">
                                <button mat-menu-item (click)="editDataRoom(i)">Edit DataRoom</button>
                                <button mat-menu-item (click)="deleteDataRoom(i)">Delete DataRoom</button>
                              </li>
                              <li *ngIf="dataRoom.status !== 'draft'">
                                <button mat-menu-item (click)="viewDataRoom(i)">View DataRoom</button>
                                <button mat-menu-item (click)="getDataRoomLink(i)">Get DataRoom Link</button>
                                <button mat-menu-item (click)="deleteDataRoom(i)">Delete DataRoom</button>
                                <button mat-menu-item (click)="manageAccess(i)">Manage Access</button>
                              </li>
                            </ng-template>
                          </mat-menu>
                        </td>
                        

                    </tr>
                </tbody>
            </table>          
        </div>
    </div>
</div>
