
.container {
    margin-top: 60px;
    margin-left: 17%;
  }
  h2{
    margin-bottom:4% ;
    margin-top: 2%;
    margin-left: 35%;
  }
  
  .sort-bar {
    margin-bottom: 5%;

  }
  
  .sort-bar label {
    font-weight: bold;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: white;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    table {
      overflow-x: auto;
      display: block;
    }
  
    th, td {
      white-space: nowrap;
    }
  }
  .search-bar-container {
    background-color: white;
    margin-left: 83%;
    margin-bottom: 40%;
    margin-top: 3%;
    display: flex;
    width: 15px;
    max-height: 4px;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
   
  }
  
  .mat-form-field {
    flex: 1;
  
  }
  
  .search-icon {
    color: black; 
    margin-right: 10px;
  }
  
  