.comment-section {
  position: fixed;
  top: 14%;
  right: 0;
  width: 300px; /* Adjuster la largeur selon vos besoins */
  height: 100%;
  background-color: #fff;
  z-index: 1000; /* Assurez-vous que ce z-index est supérieur à celui de la nav/headerbar */
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
}

.comment-section-content {
  flex-grow: 1;
  overflow-y: auto;
}

.add-comment-container, .comment-container, .reply-box, .replies-container {
  padding: 10px;
}

.new-comment-textarea, .comment-textarea, .reply-textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.add-comment-button, .reply-submit-button {
  margin-top: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-author {
  margin-left: 10px;
}

.edit-button, .upvote-button, .reply-button {
  margin-left: auto;
}

.upvote-container, .reply-container {
  display: flex;
  align-items: center;
}


.comment-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.add-comment-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.new-comment-textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  margin-right: 10px;
}

.nz-button {
  display: flex;
  margin-top: 4%;
  margin-left: auto;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  padding: 4px 12px;
  border-radius: 13px;
  height: 40px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.add-comment-button {
  background: #080bb0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.add-comment-button:hover {
  background: blue;
}

.comment-container {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-author {
  flex: 1;
  font-weight: bold;
  margin: 0;
}

.edit-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.edit-button i {
  color: #080bb0;
}

.edit-button:hover i {
  color: #333;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upvote-container, .reply-container {
  display: flex;
  align-items: center;
}

.upvote-button, .reply-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.upvote-button mat-icon, .reply-button i {
  color: #080bb0;
}


@media (max-width: 768px) {
  .comment-section {
    margin: 10px;
    padding: 10px;
  }

  .add-comment-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .new-comment-textarea {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .nz-button {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }
}
.close-button {

  top: 0;
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
}