

<form [formGroup]="GuestForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1> Add New Guest</h1> 
        <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="invitation">Invitation</label>
            <input type="text" class="form-control" id="invitation" name="invitation" formControlName="invitation" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="permission">Permission</label>
            <select class="form-control" id="permission" formControlName="permission" name="permission">
              <option value="no access">No Access</option>
              <option value="view">View only</option>
              <option value="print">View and print files</option>
              <option value="download">Download (PDF)</option>
              <option value="edit">Edit</option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="accessExpiry">Access Expiry</label>
        <select class="form-control" id="accessExpiry" name="accessExpiry" formControlName="accessExpiry">
         
          <option value="1">1 Days</option>
          <option value="Custom">Custom</option>
          <option value="7">7 Days</option>
          <option value="30">30 Days</option>
          <option value="60">60 Days</option>
          <option value="90">90 Days</option>
        </select>
      </div>
  
      <div *ngIf="GuestForm.get('accessExpiry').value === 'Custom'">
        <div class="form-group">
          <label for="starts">Starts</label>
          <div class="expiry-container">
            <mat-datepicker #picker [hidden]="!showDatePicker" formControlName="startsToggleControl" required name="startsToggleControl"></mat-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="datetime-picker">
                <mat-form-field appearance="fill">
                  <mat-label>Starts</mat-label>
                  <input matInput [matDatepicker]="datetimePicker" formControlName="startsDateTime" name="startsDateTime">
                  <mat-datepicker-toggle matSuffix [for]="datetimePicker"></mat-datepicker-toggle>
                  <mat-datepicker #datetimePicker></mat-datepicker>
                </mat-form-field>
                <ngx-material-timepicker-toggle [for]="timePicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timePicker></ngx-material-timepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="ends">Ends</label>
          <div class="expiry-container">
            <mat-datepicker #picker [hidden]="!showDatePicker" formControlName="endsToggleControl" required name="endsToggleControl"></mat-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="datetime-picker">
                <mat-form-field appearance="fill">
                  <mat-label>Ends</mat-label>
                  <input matInput [matDatepicker]="datetimePicker2" formControlName="endsDateTime" name="endsDateTime">
                  <mat-datepicker-toggle matSuffix [for]="datetimePicker2"></mat-datepicker-toggle>
                  <mat-datepicker #datetimePicker2></mat-datepicker>
                </mat-form-field>
                <ngx-material-timepicker-toggle [for]="timePicker2"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timePicker2></ngx-material-timepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <label for="message">Message</label>
          <input type="text" class="form-control" id="message" name="message" formControlName="message" required>
        </div>
      </div>
      <hr class="light-hr">
      <button type="submit" class="btn btn-primary">Send Guest Invitation</button>
    </div>
  </form>
  