<app-sidebar-side></app-sidebar-side>

<form [formGroup]="FileForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Send Files</h1>
      <br>
      <app-file-upload></app-file-upload>
  
      <hr class="light-hr">
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="permission">Permission</label>
            <select class="form-control" id="permission" formControlName="permission" name="permission">
              <option value="no access">No Download</option>
              <option value="view">Allow Download</option>
              <option value="print">No print</option>
              <option value="download">All print</option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="access">Access</label>
        <select class="form-control" id="access" name="access" formControlName="access">
          <option value="1">Only people I specify</option>
          <option value="2">Only people from domains I specify</option>
          <option value="3">Anyone with the link (email verification)</option>
          <option value="4">Anyone with the link (no email verification)</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="expiry">Expiry</label>
        <select class="form-control" id="expiry" name="expiry" formControlName="expiry">
          <option value="off">Off</option>
          <option value="fixed">Expire on fixed date and time</option>
          <option value="after">Expire after opening</option>
        </select>
      </div>
  
      <div *ngIf="FileForm.get('expiry').value === 'fixed'">
        <div class="form-group">
          <label for="starts">Starts</label>
          <div class="expiry-container">
            <mat-datepicker #picker [hidden]="!showDatePicker" formControlName="startsToggleControl" required name="startsToggleControl"></mat-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="datetime-picker">
                <mat-form-field appearance="fill">
                  <mat-label>Starts</mat-label>
                  <input matInput [matDatepicker]="datetimePicker" formControlName="startsDateTime" name="startsDateTime">
                  <mat-datepicker-toggle matSuffix [for]="datetimePicker"></mat-datepicker-toggle>
                  <mat-datepicker #datetimePicker></mat-datepicker>
                </mat-form-field>
                <ngx-material-timepicker-toggle [for]="timePicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timePicker></ngx-material-timepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="ends">Ends</label>
          <div class="expiry-container">
            <mat-datepicker #picker [hidden]="!showDatePicker" formControlName="endsToggleControl" required name="endsToggleControl"></mat-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="datetime-picker">
                <mat-form-field appearance="fill">
                  <mat-label>Ends</mat-label>
                  <input matInput [matDatepicker]="datetimePicker2" formControlName="endsDateTime" name="endsDateTime">
                  <mat-datepicker-toggle matSuffix [for]="datetimePicker2"></mat-datepicker-toggle>
                  <mat-datepicker #datetimePicker2></mat-datepicker>
                </mat-form-field>
                <ngx-material-timepicker-toggle [for]="timePicker2"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timePicker2></ngx-material-timepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="recipient">Recipient</label>
          <input type="text" class="form-control" id="recipient" name="recipient" formControlName="recipient" required>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <label for="message">Message</label>
          <input type="text" class="form-control" id="message" name="message" formControlName="message" required>
        </div>
      </div>
  
      <hr class="light-hr">
      <button type="submit" class="btn-primary">Send Guest Invitation</button>
    </div>
  </form>
  