

<div class="container">
    <div class="row">
      <div class="col-md-3 sideBar">
        <h4 (click)="goToGuests()">Guests</h4>
        <h4 *ngIf="hasGroups; else addGroup" (click)="goToGroup()">Groups</h4>
        <ng-template #addGroup>
          <h4 (click)="goToAddGroup()">Groups</h4>
        </ng-template>
        
        <h4 (click)=" goToPermission()">Permission Overview</h4>
      </div>
      <div class="col-md-9">
      <div class="col-md-9">
        <h2>Groups</h2>
       <div class = "button" (click)="goToAddGroup()">Add Group</div>
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" (change)="selectAll($event)">
                  Select All
                </th>
                <th>NAME</th>
                <th>PERMISSION</th>
                <th>MENU</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group  of groups; let i = index">
                <td>
                  <input type="checkbox" [(ngModel)]="group.selected">
                </td>
                <td>{{ group.name }}</td>
                <td>
                 
                </td>
                <td>{{ group.permission }}</td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="groupMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #groupMenu>
                    <ng-template matMenuContent>
                      <li>
                        <button mat-menu-item (click)="editGroup(i)">Edit Group</button>
                      </li>
                      <li>
                        <button mat-menu-item >Preview Group Access </button>
                      </li>
                      <li>
                        <button mat-menu-item (click)="deleteGroup(i)">Delete</button>
                      </li>
                    </ng-template>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>          
      </div>
    </div>
  </div>
  

