<app-sidebar-side></app-sidebar-side>
<app-sidenav></app-sidenav>
<app-header-side></app-header-side>
<div class="container">
 <div class="button"(click)="goToCreateVirtualRoom()">Create Data Room</div>
<div class ='card-container'>
   <mat-card>
        <mat-card-header>
          <mat-card-title>Recent Data Rooms </mat-card-title>
        </mat-card-header>
        <mat-card-content>
             <p ><a [routerLink]="'/manage-data-rooms'">{{  virtualDataRoomTitle }}</a>
             </p>
        </mat-card-content>
      </mat-card>
     
  
